DEBUG=True
BASE_URL='http://127.0.0.1:8000'
SECRET_KEY='django-insecure-0+jr_9_v$*)r(!9s%ts=9wlx9*+%-z+#7sogm(0yn8bea*6%5w'

DB='MYSQL'
DB_ENGINE='django.db.backends.mysql'
DB_NAME='django_event_managment'
DB_USER='root'
DB_PASSWORD=''
DB_HOST='127.0.0.1'
DB_PORT='3306'

EMAIL_BACKEND='django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST='smtp.mailtrap.io'
EMAIL_USE_TLS=True
EMAIL_PORT=2525
EMAIL_HOST_USER='a0297da78029ea'
EMAIL_HOST_PASSWORD='5e44491621fc19'

ACCEPTED_STATUS_ID=28
REJECTED_STATUS_ID=29
CLOSED_STATUS_ID=39
PENDING_STATUS_ID=40

WHATSAPP_URL='https://api.whatsapp.com/send?phone='
WHATSAPP_MESSAGE='&amp;text=Hi'

TERMS_OF_USE_URL='http://127.0.0.1:8000'
PRIVACY_POLICY_URL='http://127.0.0.1:8000'


2FA_SMS_URL='http://2factor.in/API/V1/'
2FA_SMS_API_KEY='4ac25db11-d914-11ec-9c12-0200cd936042'
ENTSTY='ENTSTTY'