{% extends 'base/base.html' %}
<!-- LOAD STATIC -->
{% load static %}
<!-- SET TITLE -->
{% block title %} {% include 'base/partials/title.html' with title='Change Password' %} {% endblock %} {% block content %}

<div class="page-content">
  <nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        CHANGE PASSWORD
      </li>
    </ol>
  </nav>

    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Change Password</h6>
                    <form action=""  method="post" class="forms-sample" id="changepasswordform" novalidate="novalidate" enctype="multipart/form-data">
                        {% csrf_token %} 

                        {% include "errormessage.html" %}
                        
                        <div class="mb-3">
                            <label class="form-label" >Current Password</label >
                            <input
                                type="password"
                                class="form-control"
                                id="currentpassword"
                                name="currentpassword"
                                autocomplete="off"
                                placeholder="Current Password"
                                value="{{currentpassword}}"
                                />
                               <span class="p-viewer2 toggle-password "><i class="info" data-feather="eye"></i></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">New Password</label>
                            <input
                                type="password"
                                class="form-control"
                                id="password"
                                name="password"
                                autocomplete="off"
                                placeholder="New Password"
                                value="{{password}}"
                                />
                                <span class="p-viewer2 toggle-password "><i class="info" data-feather="eye"></i></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Confirm Password</label>
                            <input
                                type="password"
                                class="form-control"
                                id="password_confirmation"
                                name="password_confirmation"
                                autocomplete="off"
                                placeholder="Confirm Password"
                                value="{{password}}"
                                />
                                <span class="p-viewer2 toggle-password "><i class="info" data-feather="eye"></i></span>
                        </div>
                        <div class="form-check mb-3">
                        </div>
                        <button type="submit" class="btn btn-primary me-2 submitbutton">Submit</button>
                        <a href="{% url 'dashboard' %}" class="btn btn-secondary cancelbutton">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block custom_js %}
<script type="text/javascript">
    $("#changepasswordform").validate({
        rules: {
            currentpassword: {
                required: true,
                minlength: 8,
                maxlength: 20,
            },
            password: {
                required: true,
                minlength: 8,
                maxlength: 20,
            },
            password_confirmation: {
                required: true,
                minlength: 5,
                maxlength: 20,
                equalTo: "#password"
            },
        },
        submitHandler: function (form) {
            if ($("#createform").validate().checkForm()) {
                $('.submitbutton').addClass('disabled').attr('disabled', true);
                $(".cancelbutton").addClass("disabled");
                form.submit();
            }
        },
    });
</script>
{% endblock %}
