{% load static %}

<nav class="navbar">
  <a href="#" class="sidebar-toggler">
    <i data-feather="menu"></i>
  </a>
  <div class="navbar-content">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link text-body ms-0" href="{% url 'contactDetails' %}">
            <span class="right_side_icon"><i class="mdi mdi-headphones mdi-24px"></i></span>
        </a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="wd-30 ht-30 rounded-circle" src="{% static 'assets/images/user-profile-default.png' %}" alt="profile"/>
        </a>
        <div class="dropdown-menu p-0" aria-labelledby="profileDropdown">
          <div class="d-flex flex-column align-items-center border-bottom px-5 py-3">
            <div class="mb-3">
              <img class="wd-80 ht-80 rounded-circle" src="{% static 'assets/images/user-profile-default.png' %}" alt="" />
            </div>
            <div class="text-center">
              {% if user.is_authenticated  %}
              <p class="tx-16 fw-bolder">{{ NAME }}</p>
              <p class="tx-12 text-muted">{{ EMAIL }}</p>
              {% endif %}
            </div>
          </div>
          <ul class="list-unstyled p-1">
            {% if user.role == "VENDOR" %}
            <li class="dropdown-item py-2">
              <a href="{% url 'profile' %}" class="text-body ms-0">
                <i class="me-2 icon-md" data-feather="clipboard"></i>
                <span>Edit Profile</span>
              </a>
            </li>
            {% endif %}
            <li class="dropdown-item py-2">
              <a href="{% url 'changePassword' %}" class="text-body ms-0">
                <i class="me-2 icon-md" data-feather="edit"></i>
                <span>Change Password</span>
              </a>
            </li>
            <li class="dropdown-item py-2">
              <a href="{% url 'logout' %}" class="text-body ms-0">
                <i class="me-2 icon-md" data-feather="log-out"></i>
                <span>Log Out</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
