{% extends 'auth/base.html' %}
<!-- LOAD STATIC -->
{% load static %}
<!-- SET TITLE -->
{% block title %} {% include 'base/partials/title.html' with title='Reset Password' %} {% endblock %} {% block content %}
<div class="col-md-1 pe-md-0"></div>
<div class="col-md-10 ps-md-0">
    <div class="auth-form-wrapper px-4 py-5">
        <a href="#" class="noble-ui-logo d-block mb-2"><img src="{% static 'assets/images/logo/logo.png' %}" width="180px"></a>
        <h5 class="text-muted fw-normal mb-1">Reset Password</h5>
        <h6 class="text-muted fw-normal mb-4"></h6>
        <form action="" method="post" class="forms-sample" id="changepasswordform" novalidate="novalidate">
            {% csrf_token %} 
            
            {% include "errormessage.html" %}
            <div class="mb-3">
                <label class="form-label">New Password</label>
                <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    autocomplete="off"
                    placeholder="New Password"
                    value="{{password}}"
                    />
                    <span class="p-viewer2 toggle-password "><i class="info" data-feather="eye"></i></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Re Confirm Password</label>
                <input
                    type="password"
                    class="form-control"
                    id="password_confirmation"
                    name="password_confirmation"
                    autocomplete="off"
                    placeholder="Confirm Password"
                    value="{{password}}"
                    />
                    <span class="p-viewer2 toggle-password "><i class="info" data-feather="eye"></i></span>
            </div>
            <input
                    type="hidden"
                    id="userID"
                    name="userID"
                    value="{{USER_ID}}"
                    />
            <div>
                <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0 text-white requestbutton">Save</button>
            </div>
        </form>
    </div>
</div>
<div class="col-md-1 pe-md-0"></div>
{% endblock content %}

{% block custom_js %}
<script type="text/javascript">
    $("#changepasswordform").validate({
        rules: {
            password: {
                required: true,
                minlength: 8,
                maxlength: 20,
            },
            password_confirmation: {
                required: true,
                minlength: 5,
                maxlength: 20,
                equalTo: "#password"
            },
        },
        submitHandler: function (form) {
            if ($("#createform").validate().checkForm()) {
                $('.submitbutton').addClass('disabled').attr('disabled', true);
                $(".cancelbutton").addClass("disabled");
                form.submit();
            }
        },
    });
</script>
{% endblock %}