{% extends 'auth/base.html' %}
<!-- LOAD STATIC -->
{% load static %}
<!-- SET TITLE -->
{% block title %} {% include 'base/partials/title.html' with title='Forgot Password' %} {% endblock %} {% block content %}
<div class="col-md-1 pe-md-0"></div>
<div class="col-md-10 ps-md-0">
    <div class="auth-form-wrapper px-4 py-5">
        <a href="#" class="noble-ui-logo d-block mb-2"><img src="{% static 'assets/images/logo/logo.png' %}" width="180px"></a>
        <h5 class="text-muted fw-normal mb-1">Forgotten Password ?</h5>
        <h6 class="text-muted fw-normal mb-4">Enter your email to reset your password</h6>
        <form action="" method="post" class="forms-sample" id="forgotFormValidation" novalidate="novalidate">
            {% csrf_token %} 

            <!-- ERROR SHOW -->
            {% include "errormessage.html" %}
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Email" value="">
            </div>
            <div>
                <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0 text-white requestbutton">Request</button>
                <a href="{% url 'login' %}" class="btn btn-secondary me-2 mb-2 mb-md-0 text-white cancelbutton">Cancel</a>
            </div>
        </form>
    </div>
</div>
<div class="col-md-1 pe-md-0"></div>
{% endblock content %}